@use "../var";
@use "../mixin";
@use "../colors";
@use "../fonts";

h1 {
  @include mixin.h1;
}

h2 {
  @include mixin.h2;
}

h3 {
  @include mixin.h3;
}

h4 {
  @include mixin.h4;
}

p {
  @include mixin.p;
}

.caption {
  @include mixin.caption;
}

.action-small {
  @include mixin.action-small;
}

.action-large {
  @include mixin.action-large;
}

html {
  scroll-behavior: smooth;
}


body main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: colors.$primary;
  background-image: url("../../img/bg-garland.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  border-radius: 20px;
  color: colors.$static-white;

}

.best-gifts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px 0;
}

.best-gifts-header {
  text-align: center;
  max-width: 350px;
  margin: 20px;
}

.gifts-button {
  background-color: transparent;
  padding: 15px 20px;
  color: white;
  border: 0;
  border-radius: 20px;
  &:hover {
    background-color: colors.$static-white-40;
  }
}

.gifts-button-active {
  background-color: colors.$static-white-40;
}

.best-gifts-container {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@keyframes opacity-anime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.opacity-animation {
  animation: opacity-anime 0.3s;
}

.cards-container {
  background-color: colors.$content-background;
  width:  310px;
  color: colors.$dark;
  border-radius: 20px;
  margin: 12px;
  &:hover {
    h3 {
      color: colors.$primary;
    }
  }
}


@keyframes scale-animation {
  from {
    transform: scale(1,1);
  }

  to {
    transform: scale(1.1,1.1);
  }
}

.cards-scale-animation {
  animation: scale-animation 0.5s;
  transform: scale(1.1,1.1);
}

.cards-image {
  width: 100%;
  height: 230px;
}

.cards-container_description-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: colors.$static-white;
  border-radius: 20px;
  padding: 20px;
  height: 112px;
}

.categories-for-work {
  color: colors.$tag-purple;
  margin-bottom: 8px;
}

.categories-for-health {
  color: colors.$tag-green;
  margin-bottom: 8px;
}
.categories-for-harmony {
  color: colors.$tag-pink;
  margin-bottom: 8px;
}


//
.popover {
  position: fixed;
  background-color: colors.$overlay;
  width:  100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}
.cards-container-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: colors.$content-background;
  max-width:  400px;
  min-width:  310px;
  color: colors.$dark;
  border-radius: 20px;
  margin: 12px;
  z-index: 2;
}

.cards-container-modal_description-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: colors.$static-white;
  border-radius: 20px;
  padding: 20px;
  h4 {
    margin: 5px 0;
  }
  h3 {
    margin: 5px 0;
  }

}
.cards-container-modal_description-container > p {
  margin: 10px 0;
}

.SUPERPOWERS-container-modal {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: minmax(max-content, 4fr) 1fr minmax(max-content, 3fr);
  margin-top: 10px;
  column-gap: 10px;
}

.superpower-icon-container {
  justify-self: end;
}

.close-button-modal {
  position: absolute;
  width: 60px;
  right: 0;
  border-radius: 20px;
  &:hover {
    background-color: colors.$primary-10;
  }

}
