// global variable: sass or css variable

$Montserrat-bold: Montserrat-bold, sans-serif; 
$Montserrat: Montserrat, sans-serif; 
$Allura: Allura, sans-serif;
$main-width: 1440px;
$tablet-width: 768px;
$mobile-width: 380px;

